*{
	margin:0;
}





.navbar {
	
  display: flex;
  
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d4d7de;
  width: 100%;
  height: 70px;
  z-index: 1;
border: hidden;
}
.nav {
width:45%;
  display: flex;
  justify-content: right;
  list-style: none;
margin-left: 35%;
float: right;
}
.logo {
	display: block;
	float: left;
  flex: 1 1 auto;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
 
}
.nav li{
	width: 8%;
margin-right: 5%;
margin-left: 5%;
margin-top: 1%;
}
a{
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
img{
  width: 100%;
  margin-left: auto;
  margin-top: auto;

}
.img{
  margin-top: 20px;
  width:9%;
  margin-left: auto;
  margin-right: auto;
}
  
input,select{
  float: none;
width: 100%;
margin-top: 1%;
margin-bottom: 1%;
}
.myform{
  text-align: center;
border: hidden;
max-width: 50%;
margin-left: 20%; 
border-radius: 25px;
border-width: 1px;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
height: 650px;

}
.button{
  width: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
border-radius: 25px;
}
input#subcatimage{
  width: 100%;
  padding: 20px 0 0 0;
  height: 10px;
  overflow: hidden;
 
  box-sizing: border-box;
  background: url('Upload-PNG-Image.png') center center no-repeat #e4e4e4;
  border-radius: 0;
  background-size: 15px 15px;
}
label{
  float: left;
  margin-left: 3%;
  margin-top: 1%;
margin-bottom: 1%;
}
.data{
margin-top: 0%;
}
@media only screen and (max-width: 992px) {

.navbar {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d4d7de;
  width: 100%;
  height: 35px;
  z-index: 1;
  font-size: 15px;
}
.nav {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
margin-top:0px;
  display: flex;
  justify-content: right;
  list-style: none;
 
}
.nav li{
  width: 25%;

}




#logo {
  display:none;
  flex:none;
  margin-left: 0%;
  letter-spacing: 0px;
  font-weight: lighter;
  font-size: 0px;
  font-family: Arial, Helvetica, sans-serif;

}

a{
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}


img{
  width: 100%;
  margin-left: auto;
  margin-top: auto;

}
.img{
  margin-top: 20px;
  width:20%;
  margin-left: auto;
  margin-right: auto;
}

}